force-app/main/default/flows/Get_Doc_JSON_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Extract_PDF</name>
        <label>Extract PDF</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>PdfExtractorInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Response_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>caseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PdfExtractorInvocable</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>varErrorMesage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>extractedDocJson</assignToReference>
            <name>extractionResult</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varIsExtractionSuccess</assignToReference>
            <name>success</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_JSON</name>
        <label>Assign JSON in var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>extractedDocJson</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Extracted_Json.PDF_Summary__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_JSON_Available</name>
        <label>Check JSON Available</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Extract_PDF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Available_on_case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Extracted_Json.PDF_Summary__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_JSON</targetReference>
            </connector>
            <label>Available on case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Response_Check</name>
        <label>Response Check</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>response_success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varIsExtractionSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Summary_On_Case</targetReference>
            </connector>
            <label>response success</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Doc JSON on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Doc JSON on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_Extracted_Json</name>
        <label>get Extracted Json</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_JSON_Available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>PDF_Summary__c</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Summary_On_Case</name>
        <label>Update Summary On Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Extracted_Json.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PDF_Summary__c</field>
            <value>
                <elementReference>extractedDocJson</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Extracted_Json</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>extractedDocJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varErrorMesage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varIsExtractionSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
